$background-color: rgb(36, 37, 38);
$content-padding: 10px 20px 10px 20px;

.comment-box {
  background-color: $background-color;
  padding: $content-padding;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  max-width: 100%;
}

.comment-box-title {
  font-size: 17px;
  padding: 5px 0 5px 0;
  margin: 0;
}

.comment-box-body {
  padding: 0 0 10px 0;
  margin: 0;
  margin-top: 2px;
  font-size: 16px;
  overflow-wrap: break-word;
}

.comment-links {
  display: flex;
  margin: 5px 0px 0px 20px;
  height: min-content;
  grid-column: 2 / 3;

  a, button {
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    color: #d1d5db;
    font-size: 16px;
  }

  button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  .like-active {
    color: rgb(0, 111, 205);
  }  
}

.comment {
  display: grid;
  margin: 10px 20px 0px 5px;
  grid-template-rows: auto min-content;
}

.comment-replies {
  .comment {
    margin-right: 0;
    margin-left: 10px;
  }
}

.user-pfp {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  grid-column: 1 / 2;
  justify-self: center;
}

.user-comment {
  display: grid;
  grid-template-columns: 50px auto;
}

.comment-links-frame {
  display: flex;
}

.reply-frame {
  grid-column: 2 / 3;
}

.comment-timestamp {
  color: gray;
  padding: 0;
  margin: 0;
  font-size: 12px;
  text-align: end;
}
