$background-color: rgb(36, 37, 38);
$content-padding: 10px 20px 10px 20px;

.comment-box {
  background-color: $background-color;
  padding: $content-padding;
  border-radius: 20px;
  height: fit-content;
  width: fit-content;
  max-width: 100%;
}

.comment-box-title {
  font-size: 17px;
  padding: 5px 0 5px 0;
  margin: 0;

  a:hover {
    text-decoration: underline;
  }
}

.comment-box-body {
  padding: 0 0 10px 0;
  margin: 0;
  margin-top: 2px;
  font-size: 16px;
  word-wrap: break-word;
}

.comment-links {
  display: flex;
  margin: 5px 0px 0px 20px;
  height: min-content;
  grid-column: 2 / 3;

  a, button {
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    color: #d1d5db;
    font-size: 16px;
  }

  button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  .like-active {
    color: rgb(0, 111, 205);
  }  
}

.comment {
  display: grid;
  margin: 10px 20px 0px 5px;
  grid-template-rows: auto min-content;
}

.comment-replies {
  .comment {
    margin-right: 0;
    margin-left: 40px;
  }
}

.user-pfp {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  grid-column: 1 / 2;
  justify-self: center;
}

.user-comment {
  display: grid;
  grid-template-columns: 50px auto;
  word-break: break-word;

  a {
    align-self: start;
    justify-self: center;
    border-radius: 50%;
    img:hover {-webkit-filter: brightness(120%); }
  }
}

.comment-links-frame {
  a:hover {
    text-decoration: underline;
  }

  button:hover {
    text-decoration: underline;
  }
}

.reply-frame {
  grid-column: 2 / 3;
}

.comment-timestamp {
  color: gray;
  padding: 0;
  margin: 0;
  font-size: 12px;
  align-self: flex-end;
  justify-self: flex-end;
}

.comment-picture {
  width: 100%;
  max-height: 250px;
  border-radius: 15px;
}

.comment-buttonfile {
  appearance: none;
}

.vertical-line {
  width: 0px;
  // margin-left: 16px;
  height: 93%;
  border: 1px solid gray;
  grid-row: 1 / 4;
  grid-column: 1 / 2;
}

.comment-metrics {
  display: flex;
  justify-content: flex-end;
}

.mini-like {
  font-size: 8px;
  padding: 3px;
  border-radius: 50%;
  background-color: #00B2FF;
}

.like-container {
  padding: 0px;
  margin: 0px;
  font-size: 12px;
  margin-right: 5px;

  p {
    margin: 0px;
    padding: 0px;
    margin-left: 3px;
  }
}

.comment-like-count {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0px;
  margin: 0px;
}

.image-container {
  display: flex;
}

.reset-button {
  position: relative;
  right: 22px;
  top: 5px;
  font-size: 18px;
  justify-self: flex-start;
  align-self: flex-start;
}

.image-preview {
  max-width: 350px;
  max-height: 350px;
  border: gray solid 1px;
  padding: 4px;
  border-radius: 15px;
}

.image-preview:hover {
  -webkit-filter: brightness(50%);
}

.reset-button:hover {
  cursor: pointer;
  text-decoration: underline;
}
