<div class='navbar'>
  <%= link_to 'Main page', posts_path, class: 'link' %>
  <%= link_to 'Profile', {}, class: 'link' %>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'link' %>
</div>
