<div class="profile-header">
  <div class='profile-background-picture'>
    <% if user.background_pic.attached? %>
      <%= image_tag user.background_pic %>
    <% else %>
      <%= image_tag 'blank-profile-pic' %>
    <% end %>
  </div>
</div>
