<div class="comment">
  <div class="comment-box">
    <h4 class='comment-box-title'><%= comment.author.email %></h4>
    <p class='comment-box-body'><%= comment.body %></p>
  </div>
  <div class="comment-links">
    <p>Like</p>
    <%= link_to 'Reply', new_post_comment_path(comment.post, parent_id: comment.id) %>
  </div>
</div>
