<div class="like-modal-show-user">
  <%= link_to image_tag('test-profile'), like.user, target: '_top' %>
  <%= link_to "#{like.user.first_name} #{like.user.last_name}", like.user, target: '_top' %>
</div>
