$primary-color: #d1d5db;

.link {
  color: $primary-color;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}

.link:hover {
  color: #38bdf8;
  background-color: rgba(37, 99, 235, 0.3);
}
