$background-color: #242526;
$border-radius: 10px;

.profile-page {
  width: 70%;
  height: 100%;
  grid-column: 1 / 4;
  height: min-content;
}

.profile-background-picture {
  width: 100%;
  height: 400px;

  img {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.profile-header {
  width: 100%;
  grid-row: 1 / 2;
}

.profile-user-info {
  display: grid;
  height: 100%;
  width: 100%;
  color: white;
  grid-template-rows: repeat(4, auto);
  background-color: $background-color;
  border-radius: $border-radius;
  margin-bottom: 25px;
  overflow: hidden;

  hr {
    grid-column: 1 / 2;
    width: 98%;
    border: 0;
    border-top: 1px solid gray;
    margin: 0;
    justify-self: center;
  }
}

.profile-resources {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: min-content auto auto;
  margin-left: 40px;
}

.profile-details {
  grid-column: 2 / 3;
  margin-left: 15px;
  margin-bottom: 20px;
}

.profile-buttons {
  grid-column: 3 / 4;
  display: flex;
  justify-self: end;
  align-self: end;
  margin-bottom: 20px;
  margin-right: 35px;

  button {
    all: unset;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .profile-button {
    padding: 10px;
    border-radius: 8px;
    margin-right: 5px;
    max-height: 20px;
    min-height: 20px;
  }

  .profile-button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
  }

  .profile-message-button {
    background-color: rgb(0, 111, 205);
  }

  .profile-friends-button {
    background-color: #18191a;
  }
}

.profile-picture {
  width: 150px;
  height: 150px;
  position: relative;
  bottom: 20px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid $background-color;
  }
}

.common-friends-pics {
  display: flex;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

.profile-navbar {
  ul {
    display: flex;

    li {
      list-style-type: none;
      margin: 0 30px 0 0px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.profile-content {
  color: white;
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: min-content min-content auto;
  gap: 25px;
}

.profile-content-details {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background-color: $background-color;
  padding: 0px 20px 0px 20px;
  border-radius: $border-radius;
  align-self: baseline;
  display: flex;
  flex-direction: column;
  
  hr {
    width: 100%;
    border: 0;
    border-top: 1px solid gray;
    padding: 0;
    margin: 0;
  }

  p {
    padding: 10px;
    margin: 0;
  }

  .quote {
    align-self: center;
  }
}

.profile-content-comment {
  grid-column: 2 / 3;
  background-color: $background-color;
  display: grid;
  height: min-content;
  grid-template-columns: min-content auto;
  border-radius: $border-radius;

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    grid-column: 1 / 2;
    align-self: end;
    justify-self: center;
    padding: 10px;
  }

  .new-comment-box {
    grid-column: 2 / 3;
    background: none;
    margin-left: -10px;
  }
}

.profile-posts-identifier {
  background-color: $background-color;
  height: min-content;
  border-radius: $border-radius;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  h2 {
    padding: 10px;
    margin: 0;
  }
}

.profile-posts {
  grid-column: 2 / 3;
  grid-row: 3 / 4;

  .post {
    margin-top: 0;
    margin-bottom: 25px;
    width: 100%;
  }
}

.edit-button {
  text-decoration: none;
  color: white;

}
